<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset=utf-8 />
    <title>Tanzania Living Labs</title>
    <meta name="description" content="A simple app that maps out projexts and help in data visualization">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel='stylesheet' href='css/reset.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='screen' />
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="css/IE7.css">
   <![endif]-->
    <link rel='stylesheet' href='css/ipad.css' media='only screen and (device-width: 768px)' />
    <link href='http://fonts.googleapis.com/css?family=Cabin:200,400,600' rel='stylesheet'>
    <script type="text/javascript">
    var badIE = false;
    </script>
    <!--[if IE 7]>
  <script type="text/javascript">var badIE = true;</script>
  <![endif]-->
    <!--[if IE 8]>
  <script type="text/javascript">var badIE = true;</script>
  <![endif]-->
</head>

<body class='no-touch'>
    <div id='map-bg'></div>
    <div id='map'></div>
    <div id='sidebar' class='active'>
        <div class='content'>
            <div class='panel story'>
                <p>So far these are the best projects blah blah</p>
            </div>
            <div class='panel partners active'>
                <p>LL living lab network project is an online visual tool that presents the evolution of the different Tanzanian LLs as well as their goals, objectives, challenges and programmes. It allows its members to focus on their objectives and gather ideas from others. It is also a tool for funders to evaluate the effectiveness of the LLs in using funds and attain sustainability</p>
                <h3></h3>
            </div>
            <div class='panel data'>
            </div>
        </div>
        <div class='mainheader'>
            <h1>Tanzania LivingLabs</h1>
        </div>
        <ul class='mainmenu'>
            <li class='first'><a class='active' id='partners' href='#'>Home</a></li>
            <li class='second'><a id='story' href='#'>Projects</a></li>
            <li class='third'><a id='data' href='#'>Feeds</a></li>
        </ul>
        <a class='icon about' href='#'>About</a>
        <a class='icon close' href='#'>Close</a>
    </div>
    <a class='pull-tab icon' href='#'>Open</a>
    <div class='about-modal' style='display:none;'>
        <div class='about-content'>
            <h3>About the Site</h3>
            <a href='#' class='icon about-close'>Close</a>
        </div>
    </div>
    <script src='js/libs/jquery-1.7.1.min.js'></script>
    <script src='js/libs/jquery-ui-1.8.18.custom.min.js'></script>
    <script src='js/libs/jquery.ui.touch-punch.min.js'></script>
    <script src='js/libs/iscroll.js'></script>
    <script src='js/libs/modestmaps.min.js'></script>
    <script src='js/libs/wax.mm.min.js'></script>
    <script src='js/libs/easey.js'></script>
    <script src='js/libs/easey.handlers.js'></script>
    <script src='js/site.js'></script>
</body>

</html>
